.wrapBox {
  display: flex;
  flex-flow: row wrap;
  gap: var(--wrapbox-row-gap) var(--wrapbox-gap);
  justify-content: var(--wrapbox-justify);
  align-items: var(--wrapbox-align);
}

.reverse {
  flex-wrap: wrap-reverse;
}
