node_modules
dist
storybook-static
packages/web-components/playwright-report
packages/web-components/test-results
packages/react/playwright-report
packages/react/test-results
.turbo
.DS_Store
*.local
coverage
packages/website/src/generated